body, html {
    margin: 0;
    padding: 0;
    background-color: azure;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
    border-bottom: 1px solid #e0e0e0; /*边界线*/
    padding-bottom: 20px;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #2c3e50;
    margin-bottom: 5px;
}

header p {
    font-size: 1.1rem;
    color: #7f8c8d;
    font-weight: 300;
}

.query-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.query-controls label {
    font-size: 1rem;
    font-weight: 400;
}

.query-controls select,
.query-controls button {
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc; /*描边*/
    font-family: inherit;
}

.query-controls select { /*选择框最小宽度*/
    min-width: 200px;
}

.query-controls button {
    background-color: #3498db;
    color: white;
    border-color: #3498db;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.query-controls button:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
}

.content-wrapper { /*下面map和result的总容器*/
    display: flex;
    gap: 30px;
    align-items: flex-start; /*子类对齐到该容器的起始位置*/
}

#map-container {
    flex: 2; /*当容器有剩余空间时, 该项分到2份空间*/
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    padding: 20px;
    min-height: 500px;
}

#map-container object { /*地图占满map-container, 除了内间距*/
    width: 100%;
    height: 100%;
}

#result-container {
    flex: 1;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    padding: 30px;
}

#result-container h2 {
    margin-top: 0;
    color: #2c3e50;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#result-text {
    margin: 10px 0; /*margin-top margin-bottom*/
    font-size: 1.1rem;
}